.Certificates {
    padding-top: 85px;
    height: 100vh;
}
.imagen {
    display: flex;
    margin: auto;
    width: 700px;
    height: 530px;
    padding-bottom: 80px;
}
.carousel-caption{
    margin: auto;
    width: 600px;
}
.Titulo {
    color:seashell;
}
carousel-indicators {
    background-color: black;
}
#button.active {
    background-color: red;
    color: aqua;
}


