.Navbar {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;
  
  width: 100%;
  height:60px;
  color: seashell;  
  position:fixed;
  z-index: 10;
}
.saludo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 30px;
  color: seashell;
}
.icon_nav{
  width: 50px;
  height: 50px;
} 
.navbar-logo {
  font-size: 2rem;
} 

/*
.menu {  
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: end;  
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1px;
  background: rgba(85, 5, 214, 0.548);
  width: 30%;
}

li {
  color: blue;
  display: block;
  background: rgba(85, 5, 214, 0.548);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 5px;
  text-align: end;
  font-size: 1.5rem;
}

button {
  background: black;
  color:seashell;
  border: none;
  border-radius: 10px;
  padding: 9px 15px;
  font-size: 2rem; 
  cursor: pointer;
  width: fit-content;
  margin-bottom: 1px;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 10px;
}

button path {
  fill:seashell;
}
*/




body {
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --background: var(--white);
  --accent: var(--pink);

  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--accent);
  padding-bottom: 100px;
  overflow: hidden;
  min-height: 100vh;
}


/**********MENUTOGGLE******/
button {
  outline: none;
  border: none;
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0px;
  width: 50px;
  height: 50px;
  border: solid 1px rgba(255, 245, 238, 0.13);
  border-radius: 50%;
  background: rgba(100, 148, 237, 0);
  padding: 10px;
 z-index: 1;
}

button path {
  fill: black;
}


/***********MENU***********/
.menu {
  position: absolute;
  top: 0;
  left: 5px;
  bottom: 0;
  width: 250px;
  height: 500px;
  background:rgba(0, 0, 0, 0.384);
  padding-top: 5px;
  transform: translateX(600%);
  will-change: transform;

}

ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 5px;
}

ul a {
  color: seashell;
  display: block;
  transform-origin: -20px 50%;
  font-weight: bold;
  font-size: 2rem;
  padding: 5px;
  padding-top: 20px;
  will-change: transform, opacity, filter;
}

ul,
li {
  list-style: none;
  margin: 0;
}

